body{
    margin: 0;
}

nav{
    background-color: #264653;
}

.nav-link{
    color: white;
}

.nav-link:hover{
    color: white;
}

.nav{
    width: 100%;
}

.btn{
    margin-right: 10px;
}

.dropdown-menu{
    width: 1px;
    padding: 2px 2px 2px 2px;
    z-index: 1050; /* Set a high z-index */
    position: absolute; /* Ensure it is positioned above other elements */
    margin-right: 10px;
}

.container{
    margin-top: 20px;
}

label{
    margin-top: 20px;
}

#submit{
    margin-top: 20px;
}

#reset{
    margin-top: 20px;
}

.product-img {
    height: 200px;
    object-fit: cover;
}

h1{
    text-align: center;
    background-color: #6c8094;
    margin-top: 0;
    padding: 20px;
    margin-bottom: 20px;
    color: white;
}


.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #264653;
    color: white;
    text-align: center;
    margin: 0;
}

.footer p{
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
}