body{
    margin: 0;
}

.container-fluid{
    padding: 0;
    margin: 0;
    background-image: url("../img/senbon-torii-6389421_1920.jpg"); 
    position: absolute;
    opacity: 0.9;
    height: 100%;
    
}

main{
    margin: 0;
    width: 100%;
    margin-bottom: 60px;
}

#intro{
    font-size: 4rem;
    font-family: 'Monaco';
    color: rgba(255,255,255,1);
    text-align: center;
    opacity: 1;
}

#text{
    position: relative;
    opacity: 1;
}

#intro p{
    opacity: 1;
}

.intro{
    background-color: black;
    margin-top: 20%;
    opacity: 0.7;
    padding-top: 3em;
    padding-bottom: 3em;
}

nav{
    background-color: #264653;
}

.nav-link{
    color: white;
}

.nav-link:hover{
    color: white;
}

.nav{
    width: 100%;
}

.btn{
    margin-right: 10px;
}

.dropdown-menu{
    padding: 2px 2px 2px 2px;
    z-index: 1050; /* Set a high z-index */
    position: absolute; /* Ensure it is positioned above other elements */
    margin-right: 10px;
}

.container{
    margin-top: 20px;
}

label{
    margin-top: 20px;
}

#submit{
    margin-top: 20px;
}

#reset{
    margin-top: 20px;
}

.product-img {
    height: 200px;
    object-fit: cover;
}


h1{
    text-align: center;
    background-color: #6c8094;
    margin-top: 0;
    padding: 20px;
    margin-bottom: 20px;
    color: white;
}

#checkout-btn{
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #264653;
    color: white;
}

.add-to-cart{
    border: none;
    padding: 10px;
}

.remove-item{
    border: none;
    padding: 10px;
    border-radius: 10px;
    background-color: #6c8094;
    color: white;
}

tbody, td, tfoot, th, thead, tr {
    padding: 20px;

}


.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #264653;
    color: white;
    text-align: center;
    margin: 0;
}

.footer p{
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
}